@model RememBeer.MvcClient.Models.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="row">
    <div class="card col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-content">
            <h4>@ViewBag.Title</h4>

            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <hr/>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="input-field">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                </div>
                <div class="input-field">
                    <input type="submit" class="btn" value="Email Link"/>
                </div>
            }
        </div>
    </div>
</div>