@model RememBeer.MvcClient.Models.Account.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="card col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-content">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, null))
                {
                    @Html.AntiForgeryToken()
                    <h4>Log in</h4>
                    <hr/>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="input-field">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email, "")
                    </div>
                    <div class="input-field">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password, "")
                    </div>
                    <div class="checkbox">
                        <input data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe" value="true" type="checkbox">
                        <label for="RememberMe">Remember me?</label>
                    </div>
                    <div class="input-field">
                        <input type="submit" value="Log in" class="btn btn-default"/>
                    </div>
                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>
                }
            </section>
        </div>
        @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
    </div>
</div>