@model RememBeer.MvcClient.Models.Account.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<div class="row">
    <div class="card col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-content">
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <h4>Reset your password.</h4>
                <hr/>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Code)
                <div class="input-field">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                </div>
                <div class="input-field">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                </div>
                <div class="input-field">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </div>
                <div class="input-field">
                    <input type="submit" class="btn btn-default" value="Reset"/>
                </div>
            }
        </div>
    </div>
</div>