@using Microsoft.AspNet.Identity
@using RememBeer.MvcClient.Helpers
@using RememBeer.MvcClient.Utils
@using Constants = RememBeer.Common.Constants.Constants
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RememBeerMe</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="description" content="The description of my page"/>
</head>
<body>
@Scripts.Render("~/bundles/vendor")
<script src="/signalr/hubs"></script>

<script type="text/javascript">
    $.validator.setDefaults({
        ignore: ""
    });
</script>
@Scripts.Render("~/bundles/custom")

    <ul id="slide-out" class="side-nav">

        @if (!Request.IsAuthenticated)
        {
            <li class="active teal darken-1 z-depth-2">
                
                <a class="subheader white-text"><i class="material-icons left white-text">&#xE7FD;</i> User</a>
            </li>
            <li class="@Html.IsSelected("Register", "Account")">
                @Html.ActionLink("Register", "Register", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "registerLink" })
            </li>
            <li class="@Html.IsSelected("Login", "Account")">
                @Html.ActionLink("Log in", "Login", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" })
        </li>
        }
        else
        {
            <li class="@Html.IsSelected("My", "Reviews")">
                <a href="@Url.Action("My", "Reviews", new { area = "" })"><i class="fa fa-heart" aria-hidden="true"></i> My Reviews</a>
            </li>

            if ( this.User.IsInRole(Constants.AdminRole) )
            {
                <li>
                    <div class="divider"></div>
                </li>
                <li class="active teal darken-1 z-depth-2">
                    <a class="subheader white-text"><i class="material-icons left white-text">&#xE8EF;</i> Admin </a>
                </li>
                <li class="@Html.IsSelected("Index", "Breweries")">
                    <a href="@Url.Action("Index", "Breweries", new { area = "Admin" })">Breweries</a>
                </li>
                <li class="@Html.IsSelected("Index", "Users")">
                    <a href="@Url.Action("Index", "Users", new { area = "Admin" })">Users</a>
                </li>
            }

            <li class="active teal darken-1 z-depth-2">
                <a class="subheader white-text"><i class="material-icons left white-text">&#xE7FD;</i> User</a>
            </li>

            using ( Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }) )
            {
                @Html.AntiForgeryToken()
                <li>@Html.ActionLink("Hello " + User.Identity.GetUserName().Truncate(25) + "!", "Index", "Manage", routeValues: new { area = "" }, htmlAttributes: new { title = "Manage" })</li>
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                </li>
            }
        }

        <li>
            <div class="divider"></div>
        </li>
        <li class="active teal darken-1 z-depth-2">
            <a class="subheader white-text"><i class="fa fa-trophy left white-text"></i> Top</a>
        </li>
        <li class="@Html.IsSelected("TopBeers", "Top")">
            <a href="@Url.Action("TopBeers", "Top", new { area = "" })">Beers</a>
        </li>
        <li class="@Html.IsSelected("TopBreweries", "Top")">
            <a href="@Url.Action("TopBreweries", "Top", new { area = "" })">Breweries</a>
        </li>
    </ul>

<a href="#" data-activates="slide-out" class="button-collapse btn-floating btn-large teal darken-1 hide-on-large-only waves-effect waves-light" id="mobile-menu-trigger">
    <i class="material-icons large">menu</i>
</a>

<nav class="hide-on-med-and-down">
    <div class="nav-wrapper teal darken-1">
        <a class="brand-logo center" runat="server" href="~/">Remem<i class="fa fa-beer fa-lg"></i>Me</a>
        <ul id="nav-mobile" class="left">
            <li class="@Html.IsSelected("TopBeers,TopBreweries", "Top")">
                <a class="dropdown-button" data-activates="topDropdown"><i class="fa fa-trophy"></i> Top<i class="material-icons right">arrow_drop_down</i></a>
            </li>
            @if (Request.IsAuthenticated)
            {
                if (this.User.IsInRole(Constants.AdminRole))
                {
                    <li class="@Html.IsSelected("Index", "Users")">
                        <a class="dropdown-button" data-activates="adminDropdown"><i class="fa fa-address-card"></i> Admin<i class="material-icons right">arrow_drop_down</i></a>
                    </li>
                }

                <li class="@Html.IsSelected("My", "Reviews")">
                    <a href="@Url.Action("My", "Reviews", new { area = "" })"><i class="fa fa-heart" aria-hidden="true"></i> My Reviews</a>
                </li>
            }
        </ul>
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                <ul id="nav-mobile-right" class="right">
                    <li class="@Html.IsSelected("Index", "Manage")">
                        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: new { area = "" }, htmlAttributes: new { title = "Manage" })
                    </li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    </li>
                </ul>
            }
        }
        else
        {
            <ul id="nav-mobile-right" class="right">
                <li class="@Html.IsSelected("Register", "Account")">
                    @Html.ActionLink("Register", "Register", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "registerLink" })
                </li>
                <li class="@Html.IsSelected("Login", "Account")">
                    @Html.ActionLink("Log in", "Login", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" })
                </li>
            </ul>
        }
    </div>
    @if (this.User.IsInRole(Constants.AdminRole))
    {
        <ul id="adminDropdown" class="dropdown-content">
            <li class="@Html.IsSelected("Index", "Breweries")">
                <a href="@Url.Action("Index", "Breweries", new { area = "Admin" })"><i class="fa fa-beer" aria-hidden="true"></i> Breweries</a>
            </li>
            <li class="@Html.IsSelected("Index", "Users")">
                <a href="@Url.Action("Index", "Users", new { area = "Admin" })"><i class="fa fa-user" aria-hidden="true"></i> Users</a>
            </li>
        </ul>
    }

    <ul id="topDropdown" class="dropdown-content">
        <li class="@Html.IsSelected("TopBeers", "Top")">
            <a href="@Url.Action("TopBeers", "Top", new { area = "" })">Beers</a>
        </li>
        <li class="@Html.IsSelected("TopBreweries", "Top")">
            <a href="@Url.Action("TopBreweries", "Top", new { area = "" })">Breweries</a>
        </li>
    </ul>
</nav>
<div id="loading">
    <span class="vh-center white-text">
        <i class="fa fa-cog fa-spin fa-5x"></i>
    </span>
</div>

<main class="container body-content fade-quick" id="content">
    @RenderBody()
</main>

    <div id="notify" class="valign-wrapper">
        <div class="card horizontal fade-quick blue-grey">
            <div class="row">
                <div class="col s12 l12">
                    <div class="card-content  white-text">
                        <a class="close" data-target="#notify">
                            <i class="fa fa-lg fa-times" aria-hidden="true"></i>
                        </a>
                        <div class="card-title">
                            Send a message to your friends:
                        </div>
                        <div class="input-field">
                            <label for="message">Message</label>
                            <textarea data-val="true" data-val-required="Message is required" class="materialize-textarea" id="message"></textarea>
                        </div>

                    </div>
                    <div class="card-action">
                        <button class="btn" onclick="eventManager.sendMessage()">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<footer class="page-footer blue-grey darken-2">
    <div class="footer-copyright">
        <div class="container">
            &copy; @DateTime.Now.Year - RememBeerMe
            <a class="grey-text text-lighten-4 right" href="https://github.com/J0hnyBG/RememBeerMeMvc" target="_blank"><i class="fa fa-2x fa-github"></i> View Source</a>
        </div>
    </div>
</footer>
@RenderSection("scripts", required: false)
</body>
</html>