@using Microsoft.AspNet.Identity
@using Constants = RememBeer.Common.Constants.Constants
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<ul id="slide-out" class="side-nav">

    @if (!Request.IsAuthenticated)
    {
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    }
    else
    {
        <li>
            <a href="@Url.Action("My", "Reviews")"><i class="fa fa-heart" aria-hidden="true"></i> My Reviews</a>
        </li>

        if (this.User.IsInRole(Constants.AdminRole))
        {
            <li>
                <div class="divider"></div>
            </li>
            <li class="active teal darken-1 z-depth-2">
                <a class="subheader white-text"><i class="material-icons left white-text">&#xE8EF;</i> Admin </a>
            </li>
            <li>
                <a href="@Url.Action("My", "Reviews")">Breweries</a>
            </li>
            <li>
                <a href="@Url.Action("My", "Reviews")">Users</a>
            </li>
        }

        <li class="active teal darken-1 z-depth-2">
            <a class="subheader white-text"><i class="material-icons left white-text">&#xE7FD;</i> User</a>
        </li>

        using ( Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }) )
        {
            @Html.AntiForgeryToken()
            <li>@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        }
    }

    <li>
        <div class="divider"></div>
    </li>
    <li class="active teal darken-1 z-depth-2">
        <a class="subheader white-text"><i class="fa fa-trophy left white-text">&#xE7FD;</i> Top</a>
    </li>
    <li>
        <a href="@Url.Action("TopBeers", "Top")">Beers</a>
    </li>
    <li>
        <a href="@Url.Action("TopBreweries", "Top")">Breweries</a>
    </li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only" id="mobile-menu-trigger">
    <i class="material-icons large">menu</i>
</a>

<nav class="hide-on-med-and-down">
    <div class="nav-wrapper teal darken-1">
        <a class="brand-logo center" runat="server" href="~/">Remem<i class="fa fa-beer fa-lg"></i>Me</a>
        <ul id="nav-mobile" class="left">
            <li>
                <a class="dropdown-button" data-activates="topDropdown"><i class="fa fa-trophy"></i> Top<i class="material-icons right">arrow_drop_down</i></a>
            </li>
            @if (Request.IsAuthenticated)
            {
                if (this.User.IsInRole(Constants.AdminRole))
                {
                    <li>
                        <a class="dropdown-button" data-activates="adminDropdown"><i class="fa fa-address-card"></i> Admin<i class="material-icons right">arrow_drop_down</i></a>
                    </li>
                }

                <li>
                    <a href="@Url.Action("My", "Reviews")"><i class="fa fa-heart" aria-hidden="true"></i> My Reviews</a>
                </li>
            }
        </ul>
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                <ul id="nav-mobile-right" class="right">
                    <li>@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    </li>
                </ul>
            }
        }
        else
        {
            <ul id="nav-mobile-right" class="right">
                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
        }
    </div>
    @if (this.User.IsInRole(Constants.AdminRole))
    {
        <ul id="adminDropdown" class="dropdown-content">
            <li>
                <a href="@Url.Action("My", "Reviews")"><i class="fa fa-beer" aria-hidden="true"></i> Breweries</a>
            </li>
            <li>
                <a href="@Url.Action("My", "Reviews")"><i class="fa fa-user" aria-hidden="true"></i> Users</a>
            </li>
        </ul>
    }

    <ul id="topDropdown" class="dropdown-content">
        <li>
            <a href="@Url.Action("TopBeers", "Top")">Beers</a>
        </li>
        <li>
            <a href="@Url.Action("TopBreweries", "Top")">Breweries</a>
        </li>
    </ul>
</nav>
<div id="loading">
    <span class="vh-center white-text">
        <i class="fa fa-cog fa-spin fa-5x"></i>
    </span>
</div>

<main class="container body-content" id="content">
    @RenderBody()
</main>

<footer class="page-footer blue-grey darken-2">
    <div class="footer-copyright">
        <div class="container">
            &copy; @DateTime.Now.Year - RememBeerMe
            <a class="grey-text text-lighten-4 right" href="https://github.com/J0hnyBG/RememBeerMeMvc" target="_blank"><i class="fa fa-github"></i> View Source</a>
        </div>
    </div>
</footer>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/materialize")
@Scripts.Render("~/bundles/custom")

@RenderSection("scripts", required: false)
</body>
</html>