@using RememBeer.MvcClient.Utils
@model RememBeer.MvcClient.Models.Reviews.SingleReviewViewModel


<div class="card horizontal fade-quick">
    <div class="row full-width">
        <div class="col s12 l4 center-align">
            <img class="materialboxed responsive-img" data-caption="@Model.BeerName @@ @Model.Place" src="@Model.ImgUrl" alt="Review image">
        </div>
        <div class="col s12 l8">
            <div class="card-content review-body">
                <div class="card-title">
                    <h5>
                        @Html.DisplayFor(x => x.BeerName)
                        <span>
                            @@<em>@Html.DisplayFor(x => x.Place)</em>
                        </span>
                        <small class="right">@Html.DisplayFor(x => x.CreatedAt)</small>
                    </h5>

                    <small>
                        @Html.DisplayFor(x => x.BeerBeerTypeType) <em>by @Html.DisplayFor(x => x.BeerBreweryName)</em>
                    </small>
                </div>
                @if (Model.IsEdit)
                {
                    <p>@Model.Description.Truncate(1024)</p>
                }
                else
                {
                    <p>@Html.DisplayFor(x => x.Description)</p>
                }
                <hr/>
                <ul class="list-inline flow-text">
                    <li>
                        <strong>
                            Overall:
                            <span>@Html.DisplayFor(x => x.Overall)</span>
                        </strong>
                    </li>
                    <li>|</li>
                    <li>
                        <strong>
                            Taste:
                            <span>@Html.DisplayFor(x => x.Taste)</span>
                        </strong>
                    </li>
                    <li>|</li>
                    <li>
                        <strong>
                            Looks:
                            <span>@Html.DisplayFor(x => x.Look)</span>
                        </strong>
                    </li>
                    <li>|</li>
                    <li>
                        <strong>
                            Aroma:
                            <span>@Html.DisplayFor(x => x.Smell)</span>
                        </strong>
                    </li>
                </ul>
            </div>
        </div>
        @if (Model.IsEdit)
        {
            <div class="card-action clearfix">
                @Ajax.ActionLink("Edit", "Edit", "Reviews",
                                 new { id = Model.Id, area = "", page = Request.QueryString["page"], pageSize = Request.QueryString["pageSize"] },
                                 new AjaxOptions()
                                 {
                                     HttpMethod = "GET",
                                     InsertionMode = InsertionMode.Replace,
                                     LoadingElementId = "loading",
                                     UpdateTargetId = "review-" + Model.Id,
                                     OnSuccess = "initMaterialize()",
                                     OnFailure = "notifier.handleAjaxError"
                                 },
                                 new { @class = "btn amber darken-2 white-text waves-effect waves-light" })

                <a class="btn deep-orange darken-2 white-text waves-effect waves-light modal-trigger " href="#deleteModal" onclick="updateModal(this)" data-id="@Model.Id">Delete</a>
                <a class="right" href="@Url.Action("Details", "Reviews", new { area = "", id = Model.Id })">Share Link</a>
                <div class="clearfix"></div>
            </div>
        }
    </div>
</div>