@model RememBeer.MvcClient.Models.Shared.PaginatedViewModel<RememBeer.Models.Contracts.IApplicationUser>

<div class="card">
    <div class="card-content">
        <h3 colspan="4">Manage Users</h3>
        <table class="bordered striped responsive-table">
            <thead>
            <tr>
                <td>Email</td>
                <td>Lockout End</td>
                <td></td>
                <td>Admin</td>
                <td>Reviews</td>
            </tr>
            </thead>

            @foreach (var user in Model.Items)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@user.LockoutEndDateUtc</td>
                    <td class="center-align">
                        @if (user.LockoutEndDateUtc.HasValue && DateTime.UtcNow < user.LockoutEndDateUtc)
                        {
                            @Ajax.ActionLink("Unlock", "EnableUser", new { userId = user.Id, page = Request.QueryString["page"], pageSize = Request.QueryString["pageSize"], searchPattern = Request.QueryString["searchPattern"] },
                                             new AjaxOptions()
                                             {
                                                 HttpMethod = "POST",
                                                 InsertionMode = InsertionMode.Replace,
                                                 LoadingElementId = "loading",
                                                 UpdateTargetId = "content",
                                                 OnSuccess = "showSuccess('User enabled')",
                                                 OnFailure = "handleAjaxError"
                                             },
                                             htmlAttributes: new { @class = "btn teal darken-1" })
                        }
                        else
                        {
                            @Ajax.ActionLink("Lock", "DisableUser", new { userId = user.Id, page = Request.QueryString["page"], pageSize = Request.QueryString["pageSize"], searchPattern = Request.QueryString["searchPattern"] },
                                             new AjaxOptions()
                                             {
                                                 HttpMethod = "POST",
                                                 InsertionMode = InsertionMode.Replace,
                                                 LoadingElementId = "loading",
                                                 UpdateTargetId = "content",
                                                 OnSuccess = "showSuccess('User disabled.')",
                                                 OnFailure = "handleAjaxError"
                                             },
                                             htmlAttributes: new { @class = "btn red" })
                        }
                    </td>
                    <td>
                        @{
                            var isAdmin = user.Roles.Any();
                        }
                        @if (isAdmin)
                        {
                            @Ajax.ActionLink("Yes", "RemoveAdmin", new { userId = user.Id, page = Request.QueryString["page"], pageSize = Request.QueryString["pageSize"], searchPattern = Request.QueryString["searchPattern"] },
                                             new AjaxOptions()
                                             {
                                                 HttpMethod = "POST",
                                                 InsertionMode = InsertionMode.Replace,
                                                 LoadingElementId = "loading",
                                                 UpdateTargetId = "content",
                                                 OnSuccess = "showSuccess('User has been removed from the administrator role.')",
                                                 OnFailure = "handleAjaxError"
                                             },
                                             htmlAttributes: new { @class = "btn-floating red center-align" })
                        }
                        else
                        {
                            @Ajax.ActionLink("No", "MakeAdmin", new { userId = user.Id, page = Request.QueryString["page"], pageSize = Request.QueryString["pageSize"], searchPattern = Request.QueryString["searchPattern"] },
                                             new AjaxOptions()
                                             {
                                                 HttpMethod = "POST",
                                                 InsertionMode = InsertionMode.Replace,
                                                 LoadingElementId = "loading",
                                                 UpdateTargetId = "content",
                                                 OnSuccess = "showSuccess('User is now an administrator')",
                                                 OnFailure = "handleAjaxError"
                                             },
                                             htmlAttributes: new { @class = "btn-floating teal darken-1 center-align" })
                        }
                    </td>
                    <td>
                        <a class="btn teal darken-1 white-text" href="@Url.Action("Reviews", "Users", new { id = user.Id })">
                            <i class="material-icons medium">&#xE315;</i>
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@Html.Partial("_Pagination", Model)