@using RememBeer.MvcClient.Areas.Admin.Models
@model RememBeer.Models.Contracts.IBrewery

<div class="row">
    <div class="col s12 m12 l10 offset-l1">
        <div class="card">
            <div class="card-content">
                <h5>Brewery Details</h5>
                <table class="bordered striped">
                    <tr>
                        <th>Id</th>
                        <td>@Model.Id</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>@Html.DisplayFor(x => x.Name)</td>
                    </tr>
                    <tr>
                        <th>Country</th>
                        <td>@Html.DisplayFor(x => x.Country)</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>@Html.DisplayFor(x => x.Description)</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                    </tr>
                </table>
                <hr/>
                <h5>Beers</h5>
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header teal darken-1 white-text waves-effect waves-light">
                            <i class="material-icons">&#xE145;</i>Add
                        </div>
                        <div class="collapsible-body">
                            @Html.Partial("_CreateBeer", new CreateBeerBindingModel() { Id = Model.Id })
                        </div>
                    </li>
                </ul>

                <table class="bordered striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Style</th>
                        <th></th>
                    </tr>
                    </thead>
                    @foreach (var beer in Model.Beers)
                    {
                        if (!beer.IsDeleted)
                        {
                            @Html.Partial("_SingleBeerRow", beer)
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>