@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model RememBeer.Models.Brewery


<div class="row">
    <div class="col s12 m12 l10 offset-l1">
        <div class="card">
            <div class="card-content">
                <h5>Brewery Details</h5>
                <table class="bordered striped">
                    <tr>
                        <th>Id</th>
                        <td>@Html.DisplayFor(x => x.Id)</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>@Html.DisplayFor(x => x.Name)</td>
                    </tr>
                    <tr>
                        <th>Country</th>
                        <td>@Html.DisplayFor(x => x.Country)</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>@Html.DisplayFor(x => x.Description)</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                    </tr>
                </table>
                <hr/>
                <h5>Beers</h5>
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header teal darken-1 white-text waves-effect waves-light">
                            <i class="material-icons">&#xE145;</i>Add
                        </div>
                        <div class="collapsible-body">
                            @using (Ajax.BeginForm("Details", "Breweries", null, new AjaxOptions(), new { @class = "" }))
                            {
                                <div class="input-field col s12 m12 l5">
                                    <label for="name">Beer name</label>
                                    <input id="name" name="name" type="text"/>
                                </div>

                                <div class="input-field col s12 m12 l5">
                                    <label for="type">Beer type</label>
                                    <input id="type" name="type" type="text" />
                                    <input id="hiddenTypeId" name="typeId" type="hidden"/>
                                </div>
                                <div class="input-field col s12 m12 l2 center-align">
                                    <button type="submit" class="btn green waves-effect waves-light">Add</button>
                                </div>

                                <div class="clearfix"></div>
                            }
                        </div>
                    </li>
                </ul>
                <script src="~/Scripts/devbridge-autocomplete.min.js"></script>

                <script src="~/Scripts/beertype-autocomplete.js"></script>
                <table class="bordered striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Style</th>
                        <th></th>
                    </tr>
                    </thead>
                    @foreach (var beer in Model.Beers)
                    {
                        <tr>
                            <td>@beer.Name</td>
                            <td>
                                <em>@beer.BeerType.Type</em>
                            </td>
                            <td>
                                <a class="btn-floating red">
                                    <i class="material-icons">&#xE872;</i>
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>

    </div>
</div>