@model RememBeer.MvcClient.Models.Manage.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="row">
    <div class="card col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-content">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <h4>Change Password</h4>
                <hr/>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="input-field">
                    @Html.LabelFor(m => m.OldPassword)
                    @Html.PasswordFor(m => m.OldPassword)
                </div>
                <div class="input-field">
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword)
                </div>
                <div class="input-field">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </div>
                <div class="input-field">
                    <input type="submit" value="Change password" class="btn btn-default"/>
                </div>
            }
        </div>
    </div>
</div>