@model RememBeer.MvcClient.Models.Reviews.SingleReviewViewModel

<div id="review-@Model.Id" class="card horizontal">
    <div class="row full-width">
        <div class="col s12 l4 center-align">
            <img class="materialboxed responsive-img" data-caption="@Model.BeerName @@ @Model.Place" src="@Model.ImgUrl" alt="Review image">
        </div>
        <div class="col s12 l8">
            <div class="card-content review-body">
                <div class="card-title">
                    <h5>
                        @Html.DisplayFor(x => x.BeerName)
                        <span>
                            @@<em>@Html.DisplayFor(x => x.Place)</em>
                        </span>
                        <small class="right">@Html.DisplayFor(x => x.CreatedAt)</small>
                    </h5>

                    <small>@Html.DisplayFor(x => x.BeerBeerTypeType) <em>by  @Html.DisplayFor(x => x.BeerBreweryName)</em></small>
                </div>
                <p>@Html.DisplayFor(x => x.Description)</p>
                <hr/>
                <ul class="list-inline flow-text">
                    <li>
                        <strong>
                            Overall:
                            <span>@Html.DisplayFor(x => x.Overall)</span>
                        </strong>
                    </li>
                    <li>|</li>
                    <li>
                        <strong>
                            Taste:
                            <span>@Html.DisplayFor(x => x.Taste)</span>
                        </strong>
                    </li>
                    <li>|</li>
                    <li>
                        <strong>
                            Looks:
                            <span>@Html.DisplayFor(x => x.Look)</span>
                        </strong>
                    </li>
                    <li>|</li>
                    <li>
                        <strong>
                            Aroma:
                            <span>@Html.DisplayFor(x => x.Smell)</span>
                        </strong>
                    </li>
                </ul>
            </div>
        </div>
        @if (Model.IsEdit)
        {
            <div class="card-action clearfix">
                @Ajax.ActionLink("Edit", "Edit",
                                 new { id = Model.Id },
                                 new AjaxOptions()
                                 {
                                     HttpMethod = "GET",
                                     InsertionMode = InsertionMode.ReplaceWith,
                                     LoadingElementId = "loading",
                                     UpdateTargetId = "review-" + Model.Id,
                                     OnSuccess = "initMaterialize()"
                                 },
                                 new { @class = "btn btn-flat amber darken-2 white-text" })

                <a class="btn btn-flat deep-orange darken-2 white-text">Delete</a>

                <a class="right" href="@Url.Action("Details", "Reviews", new { id = Model.Id })">Share Link</a>
                <div class="clearfix"></div>
            </div>
        }
    </div>
</div>