@using RememBeer.MvcClient.Models.Reviews
@model RememBeer.MvcClient.Models.Reviews.CreateReviewBindingModel

<div class="card-content review-body">
    <div class="card-title">
        <div class="input-field">
            <label for="beerName">Beer name</label>
            <input type="text" required name="beerName" id="beerName" />
            @Html.HiddenFor(x => x.Id)
            @Html.ValidationMessageFor(x => x.BeerId)
        </div>
    </div>
    <p>
        <div class="input-field">
            <i class="prefix material-icons">&#xE0C8;</i>
            @Html.LabelFor(x => x.Place)
            @Html.TextBoxFor(m => m.Place)
            @Html.ValidationMessageFor(m => m.Place)
        </div>
        <div class="input-field">
            @Html.LabelFor(x => x.Description)
            @Html.TextAreaFor(m => m.Description, new { @class = "materialize-textarea" })
            @Html.ValidationMessageFor(m => m.Description)
        </div>
    </p>
    <ul class="list-inline flow-text">
        <li>
            <strong>
                <div class="input-field col s3">
                    @Html.DropDownListFor(m => m.Overall, new SelectList(EditReviewBindingModel.ScoreValues, "Value", "Text"))
                    @Html.LabelFor(m => m.Overall)
                </div>
            </strong>
        </li>
        <li>
            <strong>
                <div class="input-field col s3">
                    @Html.DropDownListFor(m => m.Taste, new SelectList(EditReviewBindingModel.ScoreValues, "Value", "Text"))
                    @Html.LabelFor(m => m.Taste)
                </div>
            </strong>
        </li>
        <li>
            <strong>
                <div class="input-field col s3">
                    @Html.DropDownListFor(m => m.Look, new SelectList(EditReviewBindingModel.ScoreValues, "Value", "Text"))
                    @Html.LabelFor(m => m.Look)
                </div>
            </strong>
        </li>
        <li>
            <strong>
                <div class="input-field col s3">
                    @Html.DropDownListFor(m => m.Smell, new SelectList(EditReviewBindingModel.ScoreValues, "Value", "Text"))
                    @Html.LabelFor(m => m.Smell)
                </div>
            </strong>
        </li>
    </ul>
</div>
<div class="card-action clearfix">
</div>
